body {
  background: #83a598a9 url("../public/images/header.png") no-repeat !important;
  color: #282828;
  font-family: Iosevka;
}

.oganesson {
  font-family: Oganesson;
}

.iosevka {
  font-family: Iosevka;
}

.arimo {
  font-family: Arimo;
}

.arimo-head {
  font-family: Arimo-head;
}

.bg-nav-chem {
  background-color: #83a59855;
}

.navbar-brand {
  font-family: Axeon;
  font-weight: bolder;
  color: #282828;
}

nav .nav-link,
.navbar-toggler,
.navbar-toggler-icon {
  color: #282828;
}

nav .nav-link:hover,
.navbar-brand:hover,
.navbar-toggler:hover {
  color: #076678;
}

#home h1 {
  font-family: Oganesson;
  color: #282828cc;
}

#home p {
  color: #282828cc;
}

#home img {
  max-width: 25vw;
  max-height: 25vh;
}

.section-services {
  padding-top: 110px;
  padding-bottom: 120px;
  color: #282828;
}

.header-section {
  margin-bottom: 35px;
}

.header-section .title {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.header-section .title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 1px;
  background-color: #458588;
}

.header-section .title:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 3px;
  background-color: #458588;
}

.header-section .title span {
  color: #063556;
}

.header-section .description {
  color: #282828cc;
}

.section-services .single-service {
  margin-top: 40px;
}

.section-services .single-service .part-1 {
  padding: 40px 40px 25px;
  border-bottom: 2px solid #282828;
}

.section-services .single-service .part-1 i {
  margin-bottom: 25px;
  font-size: 50px;
  color: #458588;
}

.section-services .single-service .part-1 .title {
  font-family: Oganesson;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.8em;
}

.section-services .single-service .part-2 {
  padding: 30px 40px 40px;
}

.section-services .single-service .part-2 .description {
  font-family: Arimo;
  margin-bottom: 22px;
  color: #282828cc;
  font-size: 14px;
  line-height: 1.8em;
}

#pricing {
  color: #282828;
  font-family: Arimo;
}

#pricing .display-4 {
  font-family: Oganesson;
}

#pricing p.lead {
  font-family: Arimo;
}

#pricing p.lead span {
  color: #076678;
  font-weight: bolder;
}

.card {
  background-color: #ebdbb222;
}
