body {
  background: url("../public/images/header.png") no-repeat !important;
}

.navbar-brand {
  font-family: Axeon;
  font-weight: bolder;
}

#home {
  background: linear-gradient(
    0deg,
    rgba(131, 165, 152, 0.5) 8%,
    rgba(69, 133, 136, 0.7) 65%,
    rgba(7, 102, 120, 0.9) 100%
  );
}

#home h1 {
  font-family: Oganesson;
}

#home img {
  max-width: 25vw;
  max-height: 25vh;
}
main {
  background-color: rgba(131, 165, 152, 0.5);
  height: 100vh;
}
